<%- include("partials/header"); -%>
<div class="container container-fluid width">
        <p> <%=Content%> </p>
        <p> <%=Content1%> </p>
        <p> <%=Content2%> </p>
</div>
<%- include("partials/footer"); -%>