<%- include("partials/header"); -%>
<div class="container container-fluid ml mr">
        <p> <%=Content1%> </p>
        <p> <%=Content2%> </p>
        <form action="/" method="POST">
                <button class="btn btn-primary">Write a blog</button>
        </form>
</div>

<div class="container ml mr">
        <h1 class="post-heading">Blogs</h1>
        <% posts.reverse() %>
        <% posts.forEach(blog => { %>
                <div class="card mt-3">
                        <div class="card-body">
                                <h5 class="card-title green"> <%= blog.title %> </h5>
                                <p class="card-text"> <%= blog.content.substring(0, 100) + "..." %> <a href="/posts/<%=blog._id%>"> Read More </a></p>
                                <p class="text-muted">Published on: <%= blog.postedAt %> </p>
                                <a href="/posts/<%=blog._id%>" class="post-btn btn btn-sm btn-success"> Read More </a> 
                                <a href="/delete/<%=blog._id%>" class="post-btn btn btn-sm btn-danger"> Delete </a>
                                <a href="/edit/<%=blog._id%>" class="post-btn btn btn-sm btn-primary"> Edit </a>
                        </div>
                </div>
        <% }); %>
</div>

<%- include("partials/footer"); -%>