<%- include("partials/header"); -%>
<div class="container width container-fluid">
    <h1 class="green"> <%=postTitle%> </h1> 
    <p class="text-muted">Published on: <%=date%></p>   
    <p class="mt-5"> <%=Content%> </p>
</div>
<%- include("partials/footer"); -%>